.padding {
    padding-top: 60px;
}
.padding-search {
    padding-top: 80px;
}
.show-restaurant {
    width: 200px;
    height: 200px;
}
/*.createrestaurants {
	padding-left: 40%;
}*/
input#exampleInputPassword {
    width: 60%;
}
.contact {
    width: 55%;
}
input#message {
    height: 20%;
}
.search {
	padding-top: 20px;
    margin-left: 40%;
}
.profile {
	width:30%;
}
.edit-consumable{
    width: 19%;
}

.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 60px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 15px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.table {
    margin-left: 100px;
}

.login
{
    padding-left: 30%;
}
