.padding {
    padding-top: 60px;
}
img.card-img-top {
    width: 200px;
    height: 200px;
}
.createrestaurants {
	padding-left: 40%;
}
input#exampleInputPassword {
    width: 60%;
}
.contact {
    width: 55%;
}
input#message {
    height: 20%;
}
.search {
	padding-top: 20px;
    margin-left: 40%;
}
